version: '3.8'

services:
  ubuntu-20.04:
    build:
      context: .
      dockerfile: Dockerfile_systemd
    container_name: ubuntu_20_04_container
    tty: true
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
